<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba9fc4">  <td>23/10/19 08:33:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.Executer()[pri:0, instance:TestClassPackage.Get_TC1@5ef5c734]">Executer</td> 
  <td>main@640808588</td>   <td></td> </tr>
<tr bgcolor="a3667b">  <td>23/10/19 08:33:41</td>   <td>-1596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.Executer()[pri:0, instance:TestClassPackage.Delete_TC1@5ddcc487]">Executer</td> 
  <td>main@640808588</td>   <td></td> </tr>
<tr bgcolor="899890">  <td>23/10/19 08:33:41</td>   <td>-1077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.Executer()[pri:0, instance:TestClassPackage.Patch_TC1@16eccb2e]">Executer</td> 
  <td>main@640808588</td>   <td></td> </tr>
<tr bgcolor="8a9499">  <td>23/10/19 08:33:39</td>   <td>-2742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.Executer()[pri:0, instance:TestClassPackage.Put_TC1@17d88132]">Executer</td> 
  <td>main@640808588</td>   <td></td> </tr>
<tr bgcolor="e2d8e3">  <td>23/10/19 08:33:33</td>   <td>-9005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.Executer()[pri:0, instance:TestClassPackage.Post_TC1@31add175]">Executer</td> 
  <td>main@640808588</td>   <td></td> </tr>
</table>
